/*
=================================
Common
=================================
*/
@import 'common/settings';
@import 'common/mixin';
@import 'common/keyframes';
@import 'common/reset';
@import 'common/base';


/*
=================================
Page
=================================
*/
@import 'page/part/header';
@import 'page/part/footer';
@import 'page/part/marker';
@import 'page/part/overlay';
@import 'page/part/loading';
@import 'page/part/button';
@import 'page/part/zoom';
@import 'page/part/tree';
@import 'page/top';
@import 'page/detail';
@import 'page/error';


/*
=================================
Custom
=================================
*/
@import 'highlight';
@import 'perfect_scroll';


#l_content__tree_detail_wrapper{
  width: 48%;
  height: calc(100% - 40px - 60px);
  background-color: $default-color-white;
  border-left: 2px solid $default-color-border;
  box-sizing: content-box;
  position: fixed;
  top: 60px;
  right: 2px;
  box-shadow: 2px -8px 4px 4px rgba($default-color-border, .25);
  transform: translateX(50%);
  transition: transform $default-duration * 2 $default-easing $default-duration;
  &.___marker{
    transform: translateX(0%);
  }
}
#l_content__tree_detail_inner_wrapper{
  position: relative;
  overflow: hidden;
  height: 100%;
}
#l_content__tree_dynamic_wrapper{
  padding: 40px 40px 40px 28px;
}