# Exclude Directory
___*
__*
log

# Exclude File
*.sublime-workspace

# Dynamic
report/assets/image/**
report/assets/json/**
report/assets/css/**
report/assets/js/**
report/index.json

# Node
node_modules
