<header id="header">
  <div class="wrapper">
    <h1 id="l_header__title">
      <a class="j_async_content_load" href="javascript:void(0);" data-async-href="/">Paparazzi Report</a>
      <span id="j_raw_url">
      <% if(reportDetailInfo && reportDetailInfo['url']) { %>
        <a href="<%= reportDetailInfo['url'] %>" target="_blank"><%= reportDetailInfo['url'] %></a>
      <% } else if(reportDetailInfo && reportDetailInfo['name']){ %>
        ./case/<%= reportDetailInfo['name'] %>.json
      <% } else { %>
        Index
      <% } %>
      </span>
    </h1>
  </div>
</header>