<div id="loading__bg">
  <div id="loading__bg_inner_wrapper">
    <div id="loading__progress">
      <p id="loading__title" class="glitch" data-text="Loading ...">Loading ...
        <span id="loading__status" class="glitch" data-text="0%">0%</span>
      </p>
    </div>
  </div>
</div>