/*
=================================
Top
=================================
*/
#content{
  position: relative;
}
#l_content__index_wrapper{
  width: 100%;
}
#l_content__readme{
  padding: 60px 0 0;
  text-align: center;
}
#l_content__description_list{
  padding: 60px 0 0;
  text-align: center;
}
.m_content__description_list--item{
  margin: 0 0 10px 0;
  &:last-child{
    margin: 0;
  }
}
#l_content__report_table{
  width: 60%;
  display: table;
  margin: 60px auto 0;
  padding: 0 0 60px;
}
.m_content__report_table--row{
  display: table-row;
  &:last-child{
    .m_content__report_table--cell{
      border-bottom: none !important;
    }
  }
  &:nth-child(2n-1){
    .m_content__report_table--cell{
      background-color: rgba(68, 68, 68, .2);
    }
  }
}
.m_content__report_table--cell{
  display: table-cell;
  vertical-align: middle;
  width: 50%;
  padding: 20px 30px;
  border-bottom: 1px solid $default-color-white;
  box-sizing: content-box;
  background-color: rgba(68, 68, 68, .1);
  &.___head{
    padding: 10px 30px;
    background-color: $default-color-gray !important;
    color: $default-color-white;
    border-bottom: 1px solid $default-color-white;
    box-sizing: content-box;
  }
  &:first-child{
    text-align: right;
    border-right: 1px solid $default-color-white;
    box-sizing: content-box;
  }
  &:last-child{
    text-align: left;
  }
}