<div class="m_split_column_box">
  <div class="m_column_box">
    <div id="l_content__tree_wrapper">
      <div id="l_content__tree_container" data-tree-dependency="paparazzi_tree"></div>
      <div id="l_content__tree_search_wrapper">
        <div id="l_content__tree_search_inner_wrapper">
          <form id="j_form_for_tree_search">
            <input id="l_content__tree_search__input" type="text" value="" placeholder="Search keyword ...">
          </form>
          <div id="l_content__tree_search__trigger_wrapper">
            <div id="l_content__tree_search__trigger_inner_wrapper">
              <a id="l_content__tree_search__trigger" class="button" href="javascript:void(0);">
                <span>Find</span>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div id="l_content__tree_detail_wrapper">
        <div id="l_content__tree_detail_inner_wrapper">
          <a class="j_to_scroll_trigger" href="javascript:void(0);" data-handle-ps-wrapper="j_to_scroll_trigger_for_tree_detail" data-ps-direction="top">
            <span></span>
          </a>
          <a class="j_to_scroll_trigger" href="javascript:void(0);" data-handle-ps-wrapper="j_to_scroll_trigger_for_tree_detail" data-ps-direction="bottom">
            <span></span>
          </a>
          <div class="m_column_ps_wrapper" data-handle-trigger="j_to_scroll_trigger_for_tree_detail">
            <div id="l_content__tree_dynamic_wrapper">
              <h3 class="m_column_info__sub_title marker">Family Trees Information<span class="overlay"></span></h3>
              <section class="m_content__tree_info_wrapper">
                <p class="m_content__tree_sub_title">Target</p>
                <div class="m_content__tree_sub_wrapper">
                  <p id="l_tree_target">Not Selected</p>
                </div>
              </section>
              <section class="m_content__tree_info_wrapper">
                <p class="m_content__tree_sub_title">Ancester</p>
                <div class="m_content__tree_sub_wrapper">
                  <ul id="l_tree_ancestor__list">
                    <li>Not Selected</li>
                  </ul>
                </div>
              </section>
              <section class="m_content__tree_info_wrapper">
                <p class="m_content__tree_sub_title">Memo</p>
                <div class="m_content__tree_sub_wrapper">
                  <p id="l_tree_memo">Not Selected</p>
                </div>
              </section>
              <section class="m_content__tree_info_wrapper">
                <p class="m_content__tree_sub_title">Properties</p>
                <div class="m_content__tree_sub_wrapper">
                  <div id="l_tree_properties__table" class="m_tree__table">
                    <div class="m_tree__table--row">
                      <div class="m_tree__table--cell">Not Selected</div>
                      <div class="m_tree__table--cell">&ensp;</div>
                    </div>
                  </div>
                </div>
              </section>
              <section class="m_content__tree_info_wrapper">
                <p class="m_content__tree_sub_title">Methods</p>
                <div class="m_content__tree_sub_wrapper">
                  <div id="l_tree_methods__table" class="m_tree__table">
                    <div class="m_tree__table--row">
                      <div class="m_tree__table--cell">Not Selected</div>
                      <div class="m_tree__table--cell">&ensp;</div>
                    </div>
                  </div>
                </div>
              </section>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>