<div class="m_split_column_box">
  <div class="m_column_box">
    <a class="j_to_scroll_trigger" href="javascript:void(0);" data-handle-ps-wrapper="j_to_scroll_trigger_for_tree" data-ps-direction="top">
      <span></span>
    </a>
    <a class="j_to_scroll_trigger" href="javascript:void(0);" data-handle-ps-wrapper="j_to_scroll_trigger_for_tree" data-ps-direction="bottom">
      <span></span>
    </a>
    <div id="l_content__tree_wrapper" class="m_column_ps_wrapper" data-handle-trigger="j_to_scroll_trigger_for_tree">
      <div id="l_content__tree_container" data-tree-dependency="flare_tree"></div>
    </div>
  </div>
</div>