<div class="m_split_column_box">
  <div class="m_column_box">
    <div id="l_content__tree_wrapper">
      <div id="l_content__tree_container" data-tree-dependency="flare_tree"></div>
      <div id="l_content__tree_detail_wrapper">
        <div id="l_content__tree_detail_inner_wrapper">
          <a class="j_to_scroll_trigger" href="javascript:void(0);" data-handle-ps-wrapper="j_to_scroll_trigger_for_tree_detail" data-ps-direction="top">
            <span></span>
          </a>
          <a class="j_to_scroll_trigger" href="javascript:void(0);" data-handle-ps-wrapper="j_to_scroll_trigger_for_tree_detail" data-ps-direction="bottom">
            <span></span>
          </a>
          <div class="m_column_ps_wrapper" data-handle-trigger="j_to_scroll_trigger_for_tree_detail">
            <div id="l_content__tree_dynamic_wrapper">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis dignissimos sed repellendus iusto reiciendis eligendi facere? Animi soluta maxime, modi itaque voluptas, veniam, id officia, quaerat voluptates unde facere molestiae.
              <p style="height: 2000px; background-color: red;"></p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse suscipit iure, quis atque assumenda, veniam dicta temporibus eos. Consectetur quisquam a possimus accusantium eligendi sequi, laboriosam pariatur delectus? Dicta, asperiores.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>