/*
=================================
Part - Button
=================================
*/
.button{
  display: inline-block;
  position: relative;
  overflow: hidden;
  padding: 3px 10px;
  border: 1px solid $default-color-gray;
  box-sizing: content-box;
  span{
    color: $default-color-gray;
    font-size: $min-font-size + px;
    transition: color $default-duration $default-easing $default-delay;
  }
  &:after{
    content: '';
    width: 100%;
    height: 100%;
    background-color: $default-color-gray;
    position: absolute;
    top: 0;
    left: 100%;
    transition: left $default-duration $default-easing $default-delay;
    z-index: -1;
  }
  &.___marker{
    cursor: default !important;
    &:after{
      left: 0 !important;
    }
    span{
      color: $default-color-white !important;
    }
  }
  &:hover{
    &:after{
      left: 0;
    }
    span{
      color: $default-color-white;
    }
  }
  &.___hidden{
    cursor: default;
    opacity: .25;
    &:hover{
      &:after{
        left: 100% !important;
      }
      span{
        color: $default-color-gray !important;
      }
    }
  }
}