/*
=================================
Part - SVG Tree
=================================
*/
#l_content__tree_wrapper{
  position: relative;
  overflow: hidden;
}
#l_content__tree_search_wrapper{
  width: 100%;
  height: 40px;
  padding: 0 0 40px 0;
}
#l_content__tree_search_inner_wrapper{
  position: relative;
  margin: 15px 0 0;
}
#l_content__tree_search__input{
  width: 100%;
  height: 38px;
  text-align: center;
  border: 2px solid $default-color-gray;
  box-sizing: content-box;
  outline: none;
  font-size: $default-font-size + px;
}
#l_content__tree_search__count_wrapper{
  position: absolute;
  right: calc(60px + 10px + 10px - 1px);
  top: 0;
  height: calc(100% - 4px);
  width: 50px;
  border-top: 2px solid $default-color-gray;
  box-sizing: content-box;
}
#l_content__tree_search__count_inner_wrapper{
  width: 100%;
  height: 100%;
  position: relative;
}
#l_content__tree_search__count{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  font-size: $min-font-size + px;
  color: $default-color-border;
}
#l_content__tree_search__trigger_wrapper{
  position: absolute;
  right: -3px;
  top: 0;
  height: 100%;
  width: auto;
}
#l_content__tree_search__trigger_inner_wrapper{
  position: relative;
  overflow: hidden;
  height: 100%;
}
#l_content__tree_search__trigger{
  height: calc(100% - 4px - 2px);
  width: 60px;
  border-left: 2px solid $default-color-gray;
  span{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    z-index: 20;
  }
  &:after{
    z-index: 10;
  }
}
#l_content__tree_container{
  cursor: all-scroll;
}
.m_svg_dependency__node{
  cursor: pointer !important;
  text{
    fill: $default-color-gray;
    transition: opacity $default-duration $default-easing $default-delay;
    &.___marker{
      fill: $default-color-red;
    }
    &:hover{
      opacity: .8;
    }
  }
}
.m_svg_dependency__circle{
  fill: $default-color-white;
  stroke: $default-color-gray;
  stroke-width: 1px;
}
.m_svg_dependency__text{
  font-size: 12px;
}
.m_svg_dependency__link{
  fill: none;
  stroke: rgba($default-color-border, .1);
  stroke-width: 1px;
  &.___marker{
    stroke: rgba($default-color-border, .5);
    stroke-width: 2px;
  }
}
#l_content__tree_detail_wrapper{
  width: 48%;
  height: calc(100% - 40px - 60px);
  background-color: $default-color-white;
  border-left: 2px solid $default-color-border;
  box-sizing: content-box;
  position: fixed;
  top: 60px;
  right: 2px;
  box-shadow: 2px -8px 4px 4px rgba($default-color-border, .25);
  transition: transform $default-duration * 2 $default-easing $default-duration, opacity $default-duration * 2 $default-easing $default-delay;
}
#l_content__tree_detail_inner_wrapper{
  position: relative;
  overflow: hidden;
  height: 100%;
}
#l_content__tree_dynamic_wrapper{
  padding: 40px 40px 40px 28px;
}
.m_content__tree_info_wrapper{
  margin: 30px 0 0 0;
  text-align: left;
  &.___marker{
    margin: 15px 0 0;
  }
}
.m_content__tree_sub_title{
  background-color: $default-color-gray;
  color: $default-color-white;
  padding: 5px 10px;
  margin: 0 0 15px 0;
}
.m_content__tree_sub_wrapper{
  padding: 0 20px;
}
#l_tree_target{
  text-align: left;
}
#l_tree_memo{
  word-break: break-all;
  span{
    &.___marker{
      background-color: $default-color-red;
      color: $default-color-white;
    }
  }
}
#l_tree_ancestor__list{
  @include clearfix();
}
.m_tree_ancestor__list--item{
  display: inline-block;
  float: left;
  &:after{
    content: '>';
    display: inline-block;
    padding: 0 10px;
  }
  &:last-child{
    &:after{
      display: none;
    }
  }
}
.m_tree__table{
  width: 100%;
}
.m_tree__table--row{
  display: table-row;
  &:last-child{
    .m_tree__table--cell{
      &:first-child{
        padding: 5px 0 0 0;
      }
      &:last-child{
        padding: 5px 0 0 40px;
      }
    }
  }
}
.m_tree__table--cell{
  display: table-cell;
  width: auto;
  vertical-align: top;
  font-size: $min-font-size + px;
  word-break: break-all;
  &:first-child{
    max-width: 280px;
    min-width: 180px;
    padding: 5px 0 10px 0;
  }
  &:last-child{
    padding: 5px 0 10px 40px;
  }
  span{
    font-size: $min-font-size + px;
    &.___marker{
      background-color: $default-color-red;
      color: $default-color-white;
    }
  }
}
#l_content__tree_visual_handle_wrapper{
  position: fixed;
  top: 30px;
  right: 40px;
  z-index: 200;
  width: 200px;
}
#l_content__tree_detail_wrapper__opacity__title{
  position: absolute;
  top: 0;
  left: 0;
  transform: translateX(-110%) translateY(-50%);
  font-size: $min-font-size;
  color: $default-color-gray;
}
#l_content__tree_detail_wrapper__opacity{
  -webkit-appearance: none;
  appearance: none;
  background-color: $custom-scrollbar-background-color;
  height: 2px;
  width: 100%;
  display: block;
  margin: 0 auto;
  position: relative;
  cursor: pointer !important;
  &:focus,
  &:active{
    outline: none;
  }
  &::-webkit-slider-thumb{
    -webkit-appearance: none;
    appearance: none;
    cursor: pointer;
    position: relative;
    border: none;
    width: 8px;
    height: 8px;
    display: block;
    background-color: $default-color-gray;
    border-radius: 50%;
  }
}
