/*
=================================
Part - SVG Tree
=================================
*/
#l_content__tree_container{
  cursor: all-scroll;
}
.m_svg_dependency__node{
  cursor: pointer !important;
  text{
    fill: $default-color-gray;
    transition: transform $default-duration $default-easing $default-delay;
    &.___marker{
      fill: $default-color-red;
      transform: scale(1.4);
    }
  }
}
.m_svg_dependency__circle{
  fill: $default-color-white;
  stroke: $default-color-gray;
  stroke-width: 1px;
}
.m_svg_dependency__text{
  font-size: 12px;
}
.m_svg_dependency__link{
  fill: none;
  stroke: rgba($default-color-border, .1);
  stroke-width: 1px;
}