@charset 'UTF-8';

/*
=================================
Top
=================================
*/
#content{
  position: relative;
}
#loading__bg{
  position: fixed;
  top: 60px;
  left: 0;
  background-color: #000;
  width: 100%;
  height: calc(100vh - 60px - 40px);
  z-index: 100;
  transition: transform .8s ease .8s;
}
#loading__bg.___loaded{
  transform: translateX(-100%);
}
#loading__bg_inner_wrapper{
  position: relative;
  width: 100%;
  height: 100%;
}
#loading__progress{
  position: absolute;
  top: 50%;
  left: 50%;
  color: #fff;
  transform: translateX(-50%) translateY(-50%);
  font-size: 12px;
  letter-spacing: 10px;
}
#loading__status{
  font-size: 14px;
}
#loading__title:before,
#loading__status:before,
#loading__title:after,
#loading__status:after{
  color: #fff;
  background-color: #000;
}
#loading__title{
  font-size: 20px;
}
#l_content__description{
  padding: 60px 0 0;
  text-align: center;
}
@media screen and (max-width: 900px){
  #l_content__description{
    padding: 30px 0 0;
  }
}
#l_content__report_table{
  width: 800px;
  display: table;
  margin: 60px auto 0;
  padding: 0 0 60px;
}
@media screen and (max-width: 900px){
  #l_content__report_table{
    width: 100%;
    margin: 30px 0 0;
    padding: 0 0 30px;
  }
}
.m_content__report_table__row{
  display: table-row;
}
.m_content__report_table__row:last-child .m_content__report_table__cell{
  border-bottom: none !important;
}
.m_content__report_table__cell{
  display: table-cell;
  vertical-align: middle;
  width: 50%;
  padding: 40px 60px;
  border-bottom: 1px solid #fff;
  box-sizing: content-box;
  background-color: rgba(68, 68, 68, .1);
}
@media screen and (max-width: 900px){
  .m_content__report_table__cell{
    text-align: center;
    padding: 20px 30px;
  }
}
.m_content__report_table__row:nth-child(2n-1) .m_content__report_table__cell{
  background-color: rgba(68, 68, 68, .2);
}
.m_content__report_table__cell.___head{
  padding: 20px 60px;
  background-color: #444 !important;
  color: #fff;
  border-bottom: 1px solid #fff;
  box-sizing: content-box;
}
@media screen and (max-width: 900px){
  .m_content__report_table__cell.___head{
    padding: 10px 30px;
  }
}
.m_content__report_table__cell:first-child{
  text-align: right;
  border-right: 1px solid #fff;
  box-sizing: content-box;
}
@media screen and (max-width: 900px){
  .m_content__report_table__cell:first-child{
    text-align: center;
  }
}
.m_content__report_table__cell:last-child{
  text-align: left;
}
@media screen and (max-width: 900px){
  .m_content__report_table__cell:last-child{
    text-align: center;
  }
}
