<% if(templateType === 'report') { %>
  <%- include('./template/report.ejs'); %>
<% } %>

<% if(templateType === 'main') { %>
  <%- include('./template/main.ejs'); %>
<% } %>

<% if(templateType === 'multi') { %>
  <%- include('./template/multi.ejs'); %>
<% } %>

<% if(templateType === 'scan') { %>
  <%- include('./template/scan.ejs'); %>
<% } %>

<% if(templateType === 'search') { %>
  <p>SEARCH</p>
<% } %>