<h2 id="l_content__description">
  <a class="marker" href="https://github.com/rustywoman/paparazzi/blob/master/README.md" target="_blank">
    <span>README</span>
  </a>
</h2>
<div id="l_content__report_table">
  <div class="m_content__report_table__row">
    <div class="m_content__report_table__cell ___head">Project Name</div>
    <div class="m_content__report_table__cell ___head">Date</div>
  </div>
  <% reportList.forEach(function(reportInfo){ %>
  <div class="m_content__report_table__row">
    <div class="m_content__report_table__cell">
      <a class="marker j_async_content_load" href="javascript:void(0);" data-async-href="<%= reportInfo['path'] %>">
        <span><%= reportInfo['name'] %></span>
      </a>
    </div>
    <div class="m_content__report_table__cell"><%= reportInfo['date'] %></div>
  </div>
  <% }); %>
</div>