<div class="m_split_column_box">
  <div class="m_column_box">
    <a class="j_to_scroll_trigger" href="javascript:void(0);" data-handle-ps-wrapper="j_to_scroll_trigger_for_index" data-ps-direction="top">
      <span></span>
    </a>
    <a class="j_to_scroll_trigger" href="javascript:void(0);" data-handle-ps-wrapper="j_to_scroll_trigger_for_index" data-ps-direction="bottom">
      <span></span>
    </a>
    <div class="m_column_ps_wrapper" data-handle-trigger="j_to_scroll_trigger_for_index">
      <div class="m_column_content_wrapper">
        <h2 id="l_content__readme">
          <a class="marker" href="https://github.com/rustywoman/paparazzi/blob/master/README.md" target="_blank">
            <span>1. README @ GitHub</span>
            <span class="overlay"></span>
          </a>
        </h2>
        <h3 id="l_content__description">
          <a class="marker ___default" href="javascript:void(0);">
            <span>2. What's `Paparazzi` ?</span>
            <span class="overlay"></span>
          </a>
        </h3>
        <ul id="l_content__description_list">
          <li class="m_content__description_list--item">Scraping by Selenim via Python</li>
          <li class="m_content__description_list--item ___marker">+</li>
          <li class="m_content__description_list--item">Full Page Screen Capture</li>
          <li class="m_content__description_list--item ___marker">+</li>
          <li class="m_content__description_list--item">Full Cache For Target Web Page</li>
          <li class="m_content__description_list--item ___marker">||</li>
          <li class="m_content__description_list--item">Sustainable and Well-mannered Auto-Testing Service</li>
        </ul>
        <h3 id="l_content__introduction">
          <a class="marker ___default" href="javascript:void(0);">
            <span>3. Report Type</span>
            <span class="overlay"></span>
          </a>
        </h3>
        <ul id="l_content__introduction_list">
          <li class="m_content__introduction_list--item">
            1. ***_report
            <p>Parsed Result for 1 Page</p>
          </li>
          <li class="m_content__introduction_list--item">
            2. ***_main
            <p>Executed Result by 1 Process [ ex: login + browsing ... ]</p>
          </li>
          <li class="m_content__introduction_list--item">
            3. ***_multi
            <p>Executed Result by Multi Process [ ex: browsing x browsing ... ]</p>
          </li>
          <li class="m_content__introduction_list--item">
            4. ***_scan
            <p>Executed Result by Scanning [ ex: list up all links ... ]</p>
          </li>
          <li class="m_content__introduction_list--item">
            5. ***_search
            <p>Executed Result by Searching [ ex: search keyword ... ]</p>
          </li>
          <li class="m_content__introduction_list--item">
            6. ***_tree
            <p>Executed Result by Tree [ ex: file dependency ... ]</p>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="m_column_box">
    <a class="j_to_scroll_trigger" href="javascript:void(0);" data-handle-ps-wrapper="j_to_scroll_trigger_for_service" data-ps-direction="top">
      <span></span>
    </a>
    <a class="j_to_scroll_trigger" href="javascript:void(0);" data-handle-ps-wrapper="j_to_scroll_trigger_for_service" data-ps-direction="bottom">
      <span></span>
    </a>
    <div class="m_column_ps_wrapper" data-handle-trigger="j_to_scroll_trigger_for_service">
      <div class="m_column_content_wrapper">
        <h5 id="l_content__direct_func_title">
          <a class="marker ___default" href="javascript:void(0);">
            <span>Direct Reporter</span>
            <span class="overlay"></span>
          </a>
        </h5>
        <div id="l_content__direct_func">
          <ul id="l_content__direct_func_list">
            <li class="m_content__direct_func_list--item">
              <p class="m_content__direct_func_list__title">1. Create Report Configuration</p>
              <div id="l_content__direct_func_config_table">
                <div class="m_content__direct_func_config_table--row">
                  <div class="m_content__direct_func_config_table--cell">
                    <label for="j_direct_report_name">Report Name</label>
                  </div>
                  <div class="m_content__direct_func_config_table--cell">
                    <input id="j_direct_report_name" type="text" value="" placeholder="Hogehoge_Top_Page_YYYYMMDD">
                  </div>
                </div>
                <div class="m_content__direct_func_config_table--row">
                  <div class="m_content__direct_func_config_table--cell">
                    <label for="j_direct_report_url">Target URL</label>
                  </div>
                  <div class="m_content__direct_func_config_table--cell">
                    <input id="j_direct_report_url" type="text" value="" placeholder="http://hogehoge.xxx.xx.x">
                  </div>
                </div>
              </div>
              <div class="m_content__direct_func_trigger_wrapper">
                <a id="j_api_trigger_for_reset" class="button" href="javascript:void(0);">
                  <span>Reset</span>
                </a>
                <a id="j_api_trigger_for_creatation" class="button" href="javascript:void(0);">
                  <span>Create</span>
                </a>
              </div>
            </li>
            <li class="m_content__direct_func_list--item">
              <p class="m_content__direct_func_list__title">2. Execute</p>
              <p class="m_content__direct_func_list__description">Execute shell based on the configuration created above.</p>
              <div class="m_content__direct_func_trigger_wrapper">
                <a id="j_api_trigger_for_execution" class="button ___hidden" href="javascript:void(0)">
                  <span>Execute</span>
                </a>
              </div>
            </li>
          </ul>
        </div>
        <h4 id="l_content__list_title">
          <a class="marker ___default" href="javascript:void(0);">
            <span>Report List</span>
            <span class="overlay"></span>
          </a>
        </h4>
        <div id="l_content__report_table">
          <div class="m_content__report_table--row">
            <div class="m_content__report_table--cell ___head">Target Name</div>
            <div class="m_content__report_table--cell ___head">Date</div>
          </div>
          <% reportList.forEach(function(reportInfo){ %>
          <div class="m_content__report_table--row">
            <div class="m_content__report_table--cell">
              <a class="marker j_async_content_load" href="javascript:void(0);" data-async-href="<%= reportInfo['path'] %>">
                <span><%= reportInfo['name'] %></span>
                <span class="overlay"></span>
              </a>
            </div>
            <div class="m_content__report_table--cell"><%= reportInfo['date'] %></div>
          </div>
          <% }); %>
        </div>
        <h4 id="l_content__list_title">
          <a class="marker ___default" href="javascript:void(0);">
            <span>Family Tree List</span>
            <span class="overlay"></span>
          </a>
        </h4>
        <div id="l_content__report_table">
          <div class="m_content__report_table--row">
            <div class="m_content__report_table--cell ___head">Target Name</div>
            <div class="m_content__report_table--cell ___head">Detail</div>
          </div>
          <div class="m_content__report_table--row">
            <div class="m_content__report_table--cell">
              <a class="marker j_async_content_load" href="javascript:void(0);" data-async-href="___flare_tree">
                <span>flare_tree</span>
                <span class="overlay"></span>
              </a>
            </div>
            <div class="m_content__report_table--cell">Sample</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>