@charset 'UTF-8';
h1{
  background-image: url('/assets/_dummy/image/2.png');
  background-repeat: repeat;
  background-position: left center;
  background-size: 40px 40px;
  color: #fff;
}
a:hover{
  text-decoration: underline;
}
#buffer{
  width: 80%;
  height: 1000px;
  margin: 100px auto 0;
  background-color: #eee;
}