@charset 'UTF-8';
h1{
  background-image: url('/assets/image/2.png');
  background-repeat: repeat;
  background-position: left center;
  background-size: 40px 40px;
  color: #fff;
}
a:hover{
  text-decoration: underline;
}