/*
=================================
Common - Base
=================================
*/
/*
@keyframes init{
    from{
      opacity: 0;
    }
    to{
      opacity: 1;
    }
}
*/
html{
  height: 100%;
}
body{
  min-height: 100%;
  height: auto !important;
  height: 100%;
  position: relative;
  font-family: 'Roboto', 'Noto Sans Japanese', 'Yu Gothic', '游ゴシック', YuGothic, '游ゴシック体', 'ヒラギノ角ゴ Pro W3', 'メイリオ', sans-serif;
  font-size: 14px;
  letter-spacing: 1.4px;
  /*
  animation-duration: 1.4s;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  animation-name: init;
  */
}
::selection{
  background: #444 !important;
  color: #fff !important;
}
::-moz-selection{
  background: #444 !important;
  color: #fff !important;
}
.wrapper{
  padding: 0 80px;
  height: 100%;
  position: relative;
  overflow: hidden;
}
@media screen and (max-width: 900px){
  .wrapper{
    padding: 0 20px;
  }
}
#header{
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 60px;
  box-shadow: 1px 2px 2px -3px #222;
  background-color: #fff;
  z-index: 10;
}
#content{
  padding: 60px 0 40px 0;
}
#footer{
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 40px;
  box-shadow: -2px 3px 2px 2px #222;
}


/*
=================================
Common - Component - Marker
=================================
*/
.marker{
  display: inline-block;
  position: relative;
  padding: 0 0 8px 0;
  transform: translateX(-5%);
}
.marker:before{
  display: inline-block;
  position: absolute;
  bottom: 6px;
  left: -5%;
  content: '';
  width: 110%;
  height: 1px;
  background-color: #000;
}
.marker:after{
  display: inline-block;
  position: absolute;
  bottom: 0;
  right: -5%;
  content: '';
  width: 2px;
  height: 2px;
  background-color: #000;
}
.marker span{
  transition: opacity .25s ease-in-out 0s;
}
.marker:hover span{
  opacity: .5;
}


/*
=================================
Common - Component - Overlay
=================================
*/
.overlay{
  position: absolute;
  top: 0;
  left: -5%;
  width: 110%;
  height: 100%;
}
.overlay:before{
  width: 100%;
  height: 100%;
  content: '';
  display: inline-block;
  background-color: #000;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 200;
  transition: all .4s ease 0s;
}
.overlay.___visible:before{
  width: 0;
}


/*
=================================
Common - Component - Loading
=================================
*/
#loading__bg{
  position: fixed;
  top: 60px;
  left: 0;
  background-color: #000;
  width: 100%;
  height: calc(100vh - 60px - 40px);
  z-index: 100;
  transition: transform .6s ease 0s;
}
#loading__bg.___loaded{
  transform: translateX(-100%);
}
#loading__bg_inner_wrapper{
  position: relative;
  width: 100%;
  height: 100%;
}
#loading__progress{
  position: absolute;
  top: 50%;
  left: 50%;
  color: #fff;
  transform: translateX(-50%) translateY(-50%);
  font-size: 14px;
  letter-spacing: 10px;
}
#loading__status{
  font-size: 18px;
}
#loading__title:before,
#loading__status:before,
#loading__title:after,
#loading__status:after{
  color: #fff;
  background-color: #000;
}
#loading__title{
  font-size: 20px;
}


/*
=================================
Common - Component - Header
=================================
*/
#l_header__title{
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 80px;
  transform: translateY(-50%);
}
@media screen and (max-width: 900px){
  #l_header__title{
    left: 20px;
  }
}


/*
=================================
Common - Component - Footer
=================================
*/
#l_footer__copyright{
  font-size: 10px;
  position: absolute;
  top: 50%;
  right: 80px;
  transform: translateY(-50%);
}
@media screen and (max-width: 900px){
  #l_footer__copyright{
    right: 20px;
  }
}
#l_footer__copyright:before{
  content: '©';
  display: inline-block;
  padding: 0 4px 0 0;
}
#l_footer__copyright span{
  display: inline-block;
}
#l_footer__publication{
  padding: 0 4px 0 0;
}
#l_footer__author{
  padding: 0;
}


/*
=================================
Common - Play
=================================
*/
.glitch{
  position: relative;
}
@keyframes noise-anim{
  0%{
    clip: rect(65px, 9999px, 83px, 0);
  }
  5%{
    clip: rect(67px, 9999px, 26px, 0);
  }
  10%{
    clip: rect(19px, 9999px, 90px, 0);
  }
  15%{
    clip: rect(99px, 9999px, 17px, 0);
  }
  20%{
    clip: rect(84px, 9999px, 80px, 0);
  }
  25%{
    clip: rect(39px, 9999px, 82px, 0);
  }
  30%{
    clip: rect(28px, 9999px, 23px, 0);
  }
  35%{
    clip: rect(5px, 9999px, 11px, 0);
  }
  40%{
    clip: rect(4px, 9999px, 78px, 0);
  }
  45%{
    clip: rect(29px, 9999px, 50px, 0);
  }
  50%{
    clip: rect(89px, 9999px, 60px, 0);
  }
  55%{
    clip: rect(54px, 9999px, 77px, 0);
  }
  60%{
    clip: rect(96px, 9999px, 1px, 0);
  }
  65%{
    clip: rect(68px, 9999px, 79px, 0);
  }
  70%{
    clip: rect(91px, 9999px, 98px, 0);
  }
  75%{
    clip: rect(86px, 9999px, 31px, 0);
  }
  80%{
    clip: rect(42px, 9999px, 81px, 0);
  }
  85%{
    clip: rect(86px, 9999px, 70px, 0);
  }
  90%{
    clip: rect(57px, 9999px, 75px, 0);
  }
  95%{
    clip: rect(51px, 9999px, 41px, 0);
  }
  100%{
    clip: rect(20px, 9999px, 72px, 0);
  }
}
.glitch:after{
  content: attr(data-text);
  position: absolute;
  left: 2px;
  text-shadow: -1px 0 red;
  top: 0;
  overflow: hidden;
  clip: rect(0, 900px, 0, 0);
  animation: noise-anim 2s infinite linear alternate-reverse;
}
@keyframes noise-anim-2{
  0%{
    clip: rect(59px, 9999px, 12px, 0);
  }
  5%{
    clip: rect(89px, 9999px, 21px, 0);
  }
  10%{
    clip: rect(93px, 9999px, 74px, 0);
  }
  15%{
    clip: rect(26px, 9999px, 8px, 0);
  }
  20%{
    clip: rect(90px, 9999px, 38px, 0);
  }
  25%{
    clip: rect(24px, 9999px, 63px, 0);
  }
  30%{
    clip: rect(96px, 9999px, 8px, 0);
  }
  35%{
    clip: rect(61px, 9999px, 3px, 0);
  }
  40%{
    clip: rect(76px, 9999px, 48px, 0);
  }
  45%{
    clip: rect(58px, 9999px, 70px, 0);
  }
  50%{
    clip: rect(79px, 9999px, 60px, 0);
  }
  55%{
    clip: rect(21px, 9999px, 97px, 0);
  }
  60%{
    clip: rect(87px, 9999px, 61px, 0);
  }
  65%{
    clip: rect(31px, 9999px, 83px, 0);
  }
  70%{
    clip: rect(33px, 9999px, 29px, 0);
  }
  75%{
    clip: rect(25px, 9999px, 57px, 0);
  }
  80%{
    clip: rect(70px, 9999px, 88px, 0);
  }
  85%{
    clip: rect(70px, 9999px, 58px, 0);
  }
  90%{
    clip: rect(70px, 9999px, 73px, 0);
  }
  95%{
    clip: rect(23px, 9999px, 57px, 0);
  }
  100%{
    clip: rect(61px, 9999px, 75px, 0);
  }
}
.glitch:before{
  content: attr(data-text);
  position: absolute;
  left: -2px;
  text-shadow: 1px 0 blue;
  top: 0;
  overflow: hidden;
  clip: rect(0, 900px, 0, 0);
  animation: noise-anim-2 3s infinite linear alternate-reverse;
}