/*
=================================
Common - Base
=================================
*/
html{
  height: 100%;
}
body{
  min-height: 100%;
  height: auto !important;
  height: 100%;
  position: relative;
  font-family: 'Roboto', 'Noto Sans Japanese', 'Yu Gothic', '游ゴシック', YuGothic, '游ゴシック体', 'ヒラギノ角ゴ Pro W3', 'メイリオ', sans-serif;
  font-size: $default-font-size + px;
  letter-spacing: $default-letter-spacing;
}
::selection{
  background: $default-color-gray !important;
  color: $default-color-white !important;
}
::-moz-selection{
  background: $default-color-gray !important;
  color: $default-color-white !important;
}
#wrapper{
  height: 100%;
  position: relative;
  overflow: hidden;
}
@include notPC(){
  #wrapper{
    padding: 0 20px;
  }
}
#content{
  padding: 60px 0 40px 0;
}