/*
=================================
Mixins - Lacky 3d
=================================
*/
@mixin lackyFor3d(){
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  overflow: hidden;
};


/*
=================================
Mixins - Clearfix
=================================
*/
@mixin clearfix(){
  &:after{
    display: block;
    visibility: hidden;
    clear: both;
    height: 0;
    content: '.';
  }
};


/*
=================================
Mixins - Vender Prefix
=================================
*/
@mixin setPrefix($name, $argument){
  -webkit-#{$name}: #{$argument};
  -ms-#{$name}: #{$argument};
  -moz-#{$name}: #{$argument};
  -o-#{$name}: #{$argument};
  #{$name}: #{$argument};
};


/*
=================================
Mixins - Keyframes
=================================
*/
@mixin setKeyframes($name){
  @keyframes #{$name}{
    @content;
  }
};


/*
=================================
Mixins - Not PC
=================================
*/
@mixin notPC(){
  @media only screen and (max-width: 900px){
    @content;
  }
};