/*
=================================
Mixins - Lacky 3d
=================================
*/
@mixin lackyFor3d(){
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  overflow: hidden;
};


/*
=================================
Mixins - Clearfix
=================================
*/
@mixin clearfix(){
  &:after{
    display: block;
    visibility: hidden;
    clear: both;
    height: 0;
    content: '.';
  }
};


/*
=================================
Mixins - Vender Prefix
=================================
*/
@mixin setPrefix($name, $argument){
  -webkit-#{$name}: #{$argument};
  -ms-#{$name}: #{$argument};
  -moz-#{$name}: #{$argument};
  -o-#{$name}: #{$argument};
  #{$name}: #{$argument};
};


/*
=================================
Mixins - Keyframes
=================================
*/
@mixin setKeyframes($name){
  @keyframes #{$name}{
    @content;
  }
};


/*
=================================
Mixins - Blur
ex : @include blur();
=================================
*/
@mixin blur($rate:4){
  @include setPrefix('filter', 'blur(' + $rate + 'px)');
};


/*
=================================
Mixins - Drop Shadow
ex : @include dropShadow();
=================================
*/
@mixin dropShadow($rate:4, $color:#000){
  @include setPrefix('filter', 'drop-shadow(' + $rate + 'px ' + $rate + 'px ' + $rate + 'px ' + $color')');
};


/*
=================================
Mixins - Invert
ex : @include invert();
=================================
*/
@mixin invert($rate:100){
  @include setPrefix('filter', 'invert(' + $rate + '%)');
};


/*
=================================
Mixins - Sepia
ex : @include sepia();
=================================
*/
@mixin sepia($rate:100){
  @include setPrefix('filter', 'sepia(' + $rate + '%)');
};


/*
=================================
Mixins - Grayscale
ex : @include grayscale();
=================================
*/
@mixin grayscale($rate:100){
  @include setPrefix('filter', 'grayscale(' + $rate + '%)');
};


/*
=================================
Mixins - Brightness
ex : @include brightness();
=================================
*/
@mixin brightness($rate:100){
  @include setPrefix('filter', 'brightness(' + $rate + '%)');
};


/*
=================================
Mixins - Saturate
ex : @include saturate();
=================================
*/
@mixin saturate($rate:100){
  @include setPrefix('filter', 'saturate(' + $rate + '%)');
};


/*
=================================
Mixins - Hue Rotate
ex : @include huaRotate();
=================================
*/
@mixin huaRotate($rate:90){
  @include setPrefix('filter', 'hue-rotate(' + $rate + 'deg)');
};


/*
=================================
Mixins - Contrast
ex : @include contrast();
=================================
*/
@mixin contrast($rate:100){
  @include setPrefix('filter', 'contrast(' + $rate + '%)');
};


/*
=================================
Mixins - Not PC
=================================
*/
@mixin notPC(){
  @media only screen and (max-width: 900px){
    @content;
  }
};