@charset 'UTF-8';
footer, header, section{
  display: block;
}
html{
  color: #000000;
  background: #ffffff;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body, div, ul, li, h1, h2, h3, h4, h5, h6, pre, code, input, p, th, td{
  margin: 0;
  padding: 0;
}
img{
  vertical-align: middle;
  border: 0;
}
h1, h2, h3, h4, h5, h6{
  font-size: 100%;
  font-weight: normal;
}
pre{
  white-space: pre-wrap;
}
table{
  border-spacing: 0;
  border-collapse: separate;
}
ul{
  list-style: none;
}
a{
  text-decoration: none;
  color: #000000;
  background: transparent;
}
a:focus{
  outline: none;
}
a:active, a:hover{
  outline: none;
}
input{
  font-family: inherit;
  font-size: inherit;
  font-size: 100%;
  font-weight: inherit;
  line-height: normal;
}
input[type='button'], input[type='reset'], input[type='submit']{
  cursor: pointer;
  -webkit-appearance: button;
}
input[disabled]{
  cursor: default;
}