@charset 'UTF-8';
footer,
header,
section{
  display: block;
}
html{
  color: $default-color-black;
  background: $default-color-white;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body,
div,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
input,
p,
th,
td{
  margin: 0;
  padding: 0;
}
img{
  vertical-align: middle;
  border: 0;
}
h1,
h2,
h3,
h4,
h5,
h6{
  font-size: 100%;
  font-weight: normal;
}
pre{
  white-space: pre-wrap;
}
table{
  border-spacing: 0;
  border-collapse: separate;
}
ul{
  list-style: none;
}
a{
  text-decoration: none;
  color: $default-color-black;
  background: transparent;
  &:focus{
    outline: none;
  }
  &:active,
  &:hover{
    outline: none;
  }
}
input{
  font-family: inherit;
  font-size: inherit;
  font-size: 100%;
  font-weight: inherit;
  line-height: normal;
  &[type='button'],
  &[type='reset'],
  &[type='submit']{
    cursor: pointer;
    -webkit-appearance: button;
  }
  &[disabled]{
    cursor: default;
  }
}
