/*
=================================
Setting - Font
=================================
*/
$default-font-size      : 14;
$default-letter-spacing : 1.4px;

/*
=================================
Setting - Font
=================================
*/
$default-color-black  : #000;
$default-color-white  : #fff;
$default-color-gray   : #444;
$default-color-border : #222;
$custom-scrollbar-color : #999;
$custom-scrollbar-background-color : #eee;