/*
=================================
Setting - Font
=================================
*/
$default-font-size                 : 12;
$min-font-size                     : 11;
$default-letter-spacing            : 1.4px;

/*
=================================
Setting - Font
=================================
*/
$default-color-black               : #000;
$default-color-white               : #fff;
$default-color-gray                : #444;
$default-color-border              : #222;
$custom-scrollbar-color            : #999;
$custom-scrollbar-background-color : #eee;

/*
=================================
Setting - Transition
=================================
*/
$default-duration                  : .25s;
$default-easing                    : cubic-bezier(.165, .84, .44, 1);
$default-delay                     : 0s;